<%- include('header.ejs') %>

<script src='/javascripts/namegen.js' defer></script>
  <h1><%= title %></h1>
  <button id="btnSubPart">-</button>
  <button id="btnAddPart">+</button>
  <div id="container" class="container"></div>

<%- include('footer.ejs') %>